/* css reset */
html{
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-width: 100vw;
    background-color: rgb(234, 210, 210);
}

/* Navigation bar */
.navbar {
    background-color: #e6ffff;
    height: auto;
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 100px;
    position: sticky;
    top: 0px;
    opacity: 0.4;
    z-index: 6;


}

.navbar ul {
    list-style: none;

}

.navbar ul li {
    display: inline-block;
    margin: 0 15px;
}

.navbar ul li a {
    text-decoration: none;
    color: grey;
    font-weight: 600;
    font-size: 18px;
    transition: 0.4s ease-in-out;

}

.navbar ul li a:hover {
    color: black;
}


.btn {
    background-color: orangered;
    padding: 10px 25px;
    border-radius: 30px;
    color: black;
    transition: 0.4s ease-in-out;
    text-decoration: none;

}

.btn:hover {
    background-color: orange;
    box-shadow: 0px 0 20px 0 orangered;

}








/* logo */
.logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.logo img {
    height: 75px;
}


.akansh-section {
    min-width: 100vw;

}

.akansh-box {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 40px 100px;

}

.right-img {
    height: 400px;
}

.left-box {
    margin-left: 40px;
    padding: 50px 0;
}

.started {
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 18px;
}

.ready {
    color: rgb(255, 0, 98);
    margin-bottom: 8px;
    font-weight: 550;
}

.left-box h1 {
    font-size: 34px;
    margin-bottom: 8px;
    line-height: 44px;
}

span {
    color: orange;
}

.left-para {
    margin-bottom: 30px;

}

/* styeling right image of top section */
.right-img {
    width: 500px;
}

/* style featured boxes */
.feature {
    background-color: white;
    padding: 0 100px;
    display: flex;
    height: 50vh;
    align-items: center;
    justify-content: space-around;

}

.boxes {
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 6px;
    transition: 0.3s ease-in-out;
}

.boxes:hover {
    box-shadow: 0px 5px 15px grey;
    cursor: pointer;

}

.boxes h2 {
    font-size: 18px;
    color: rgb(49, 48, 48);
    margin: 5px 0;
}

.boxes p {
    color: rgb(131, 131, 131)
}

.al-shadow {
    box-shadow: 0px 5px 15px grey;

}


/* styleing online courses section */

.course-top {
    padding: 0 0 100px 0;

}

.online-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
    color: orangered;

}

.online-courses {
    background-color: white;
    height: auto;
    padding: 0 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.online-courses img {
    width: 250px;
    border-radius: 8px;
    margin-bottom: 15px;

}

.online-box {
    background-color: white;
    padding: 20px 20ox;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgb(177, 177, 177), 2px 2px 5px rgb(177, 177, 177);
    transition: 0.3s ease-in-out;

}

.online-box:hover {
    box-shadow: 0px 5px 15px grey;
    cursor: pointer;

}

.online-box h2 {
    font-size: 18px;
    color: rgb(49, 48, 48);
    margin: 5px 0;

}

.online-box p {
    color: rgb(99, 99, 99);
    margin: 5px 0;

}

.course-btn {
    font-size: 14px;
    color: white;
    padding: 8px 20px;
    margin: 7px 0;
}
.course-btn:hover{
    box-shadow: 0px 0 20px 0 orangered;
}

.bottom-feature{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    margin: 35px 0 0 0;

}

.left-date{
    display: flex;
    align-items: center;
    position: relative;
    right: 0px;
    
}

.right-stu{
    display:flex;
    align-items: center;
    position: relative;
    left: 30px;

}

.left-date p, .right-stu p{
    font-size: 14px;
    margin-left: 5px;

}

.testimonial{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 100px;
    padding-bottom: 100px;

}


.test-title{
    color: orangered;
    padding-bottom: 40px;

}

.testimonial-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 200px;

}

.testimonial-box img{
    margin-left: 30px;

}

.testimonial-box p{
    font-weight: 500;
    color: grey;
}

/* styling footer */
footer{
    height: 55vh;
    background-color: orangered;
    padding: 0 100px 100px 0;

}

.footer-box{
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.footer-links{
    display: flex;
    flex-direction: column;
    padding: 10px 30px;

}

.footer-about{
    width: 40%;
    color: wheat;
    margin-left: 120px;

}

.footer-links h3{
    margin-bottom: 10px;
    color: wheat;
    font-size: 17px;

}

.footer-links a{
    color: wheat;
    text-decoration: none;
    margin: 6px 0;
    text-align: left;
    font-size: 12px;
    font-weight: 550;
    transition: 0.3s ease-in-out;
}
.footer-links a:hover{
    color: white;
    
}

.end{
    text-align: center;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}


#contact{
    position: relative;
}
#contact::before{
    content: "";
    position: absolute; 
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url('../contact1.jpg') no-repeat center center/cover;
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
}

#contact-box form{
    width: 40%;
}
#contact-box label{
    font-size: 1.3rem;
    font-family: 'Baloo Bhai 2', sans-serif;
}

#cont{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 34px;

}

#contact{
    background-color: skyblue;
}